@import "./mixin";
@import "./variables";
@import "./attribution";
@import "./form";
@import "./layout";
//global
a
{
    text-decoration: none;
    color: $neutral-2;
    &:hover
    {
        text-decoration: underline;
    }
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}